.list-wrapper {
  text-align: center;
}

.list-wrapper h1 {
  color: var(--_color_1);
  font-size: 1.4rem;
  padding: 0px 20px;
}

.list-content {
  padding: 20px;
}

.list-content main ul {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: rgb(40, 40, 40);
  background: #fff;
}

.list-content main ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-content main ul li div {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.list-content main ul li div:hover {
  opacity: 0.8;
}

.list-content main ul li div a h2 {
  color: var(--_color_1);
  font-size: 1.6rem;
  text-align: left;
}

.list-content main ul li div a p {
  color: #7b7b7b;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
}

.list-wrapper-maps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--_color_0);
  background: var(--_color_3);
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--_color_3);
  transition: 0.2s ease-in;
}

.list-wrapper-maps:hover {
  background: #1836f5;
}

.list-wrapper-maps p {
  color: var(--_color_0);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
}

@media (max-width: 700px) {
  .list-wrapper h1 {
    color: var(--_color_1);
    font-size: 1.2rem;
    padding: 0px 20px;
  }

  .list-content main ul li div a h2 {
    font-size: 1.4rem;
  }

  .list-content main ul li div a p {
    font-size: 0.7rem;
  }

  .list-wrapper-maps {
    font-size: 1.4rem;
  }

  .list-wrapper-maps svg {
    font-size: 1.4rem;
  }

  .list-wrapper-maps p {
    font-size: 0.8rem;
  }
}
